@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

h1,
p {
  color: "#52322b";
}

.item-div {
  position: relative;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); /* Initially hidden */
  opacity: 0;
  transition: clip-path 1.5s ease-out, opacity 1.5s ease-out; /* Optional: smooth transition */
}
